/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.notes
notes.txt
/storage/*.index
public/js
public/css
public/manifest.js
.phpintel
composer.lock
package.log
public/mix-manifest.json
public/mailbox
